<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bolts.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Charts.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DKImagePickerController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DropDownMenuKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Emoji-swift.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSDKCoreKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSDKLoginKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FrostedSidebar.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GTProgressBar.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GoogleToolboxForMac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>HCSStarRatingView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ISO8601DateFormatterValueTransformer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>JSQMessagesViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>JSQSystemSoundPlayer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>MagicalRecord.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>NSLogger.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-GrowDiaries.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Protobuf.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PullToRefresher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>RKValueTransformers.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ReachabilitySwift.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>RestKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SDWebImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SMPageControl.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SOCKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SVProgressHUD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Spring.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TOCropViewController-TOCropViewControllerBundle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TOCropViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TPKeyboardAvoiding.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TextFieldEffects.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TransitionKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>UITextView+Placeholder.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>UPCarouselFlowLayout.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>WBSegmentControl.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>nanopb.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04566D77DF48AA9EA70A6B4FA793DED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0878B7B3F41BC7ADC66A1862A4586EA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1664A581754CC70ACAD65BDFC01ED12A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A1D2C7B4A67AD7B270F4B27687DD563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AF170BBCDC11D07FE593317FDB75F61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D5C6F9975CD8020C224A8412B2F9340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46F2BFDEED86A2055ACF120BBC7DD3A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F1B86A35D15D97CDB3CE7EC2378DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5920BEF6D814D9C7388C84718F765191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D773CBAA874409979BEDF5130733A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E92CEC3914031809E9BFEE94230A1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73001C5BBA04BDD43DDFC629FE1F21AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CBF11FA22F2CA3694E434207A4AD32B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D50565DE50F153C11E3AFE2D8C388A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF9D0C9648C40FD241FDB25363840D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>973639ADF462BCF71186C7945BD5BE1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B7903EBA281F020AC783B4F698BF48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4D9FCD3786D61EEC38725A387CE3A3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A61AB6C828FD4BA0AEFA0664C4455F71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD7E03451D6AE0AF9C22BF6BBDD0B70F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D3A8C91846454F929037E04E116E90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4B24D15BE5D8B27A906E8B48F9CB74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD998EBAA59AC0A8222A1BB82CB5F4E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEEDCB3ADB89ADDD45D892D4DC3304ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C540B19552F14690887BEA44367D36F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6BAB35D3E9F7C9F1805D59089DA012C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8BBE5BFA9AF34C8091657120F889B51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E180B16B96061425AB67641880CE1DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E61EFFE942D48DE31C5FFBD4B3ADDC33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6BA821C369409440270492BF8755DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91FDC4D0384F946F2891399F4945720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9462AEBBEE7A3DC4E37593AFB5E51F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9917470291CC1CD1F89008CB3AC21D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD4882D330CA599B1EBA6F0650BE1195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE705DFACA7BF6EFF691A1A86799AE97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF94C135CE6CD1DA6212DBAFCDAFBD88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
